html {
  overflow: hidden;
}

button {
  cursor: pointer;
}

.swiper-button-prev {
  left: -30px !important;
}
.swiper-button-next {
  right: -30px !important;
}
.swiper-pagination-bullets {
  // position: relative !important;
  bottom: -20px !important;
}
.swiper-container {
  overflow: visible !important;
  // overflow-x: hidden !important;
}

.app {
  min-height: 100vh;
  // display: flex;
  // justify-content: space-around;
  // align-items: center;
}

.header {
  text-align: center;
}

.tasks {
  width: 90%;
  margin: 0 auto;
  // padding: 0 50px;
  // box-sizing: border-box;
  // display: flex;
  // justify-content: space-around;
}

.task {
  width: 100%;
  // width: 30%;
  padding: 5px 10px;
  box-sizing: border-box;
  border: solid 1px #000000;
  border-radius: 3px;

  &__point {
    margin: 0;
    font-weight: bold;
  }
}

.ReactModal__Overlay {
  z-index: 10000;
}

.new-task {
  width: 50%;
  padding: 15px;
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  background-color: #ffffff !important;
  border: solid 2px #000000;
  border-radius: 5px;
  outline: none;

  &__form {
    display: flex;
    flex-direction: column;

    textarea {
      resize: none;
    }
  }

  &__form-item {
    padding: 3px 5px;
    box-sizing: border-box;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

// .board {
//   padding: 5px 10px;
//   box-sizing: border-box;
//   width: 20%;
//   border-radius: 5px;
//   border: solid 2px #000000;

//   &__header {
//     border-bottom: solid 1px #000000;
//   }

//   &__task {
//     padding: 3px 5px;
//     border: solid 1px #000000;
//     border-radius: 3px;
//     background-color: lightgray;
//     cursor: grab;
//   }
// }